	@font-face{
		font-family: 'Bahnschrift';
		src: url('bahnschrift_regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face{
		font-family: 'Bahnschrift';
		src: url('bahnschrift_bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
	}
	html, body{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		font-family: Bahnschrift, Tahoma, Verdana, sans-serif; /*Din, Tahoma, sans-serif; */
		font-size: 10px;
		text-align: center;
	}
	div, span{ box-sizing: border-box; }
	
	a{
		display: block;
		font-weight: bold;
		text-decoration: none;
		background: #ff0000;
		background-image: linear-gradient(#eeeeee, #dddddd 50%);
		color: #eeeeee;
		margin: 0;
	}
	
	body{}
	
	div#menu{
		position: relative;
		display: table;
		width: 98%;
		height: 3%;
		margin: 1%;
	}
	
	input[type=radio], input[type=checkbox]{
		visibility: hidden;
		display: none;
	}
	label{
		display: table-cell;
		width: 33.33%;
		color: #000000;
		background: #eeeeee;
		background-image: linear-gradient(#eeeeee, #dddddd 50%);
		font-size: 10px;
		font-weight: bold;
		vertical-align: middle;
	}
	input[type=checkbox] + label{
		font-size: 14px;
		border-radius: 6px;
	}
	input[type=radio]#header_levels + label{ border-radius: 5px 0 0 5px; }
	input[type=radio]#header_game + label{ width: 33.34%; }
	input[type=radio]#header_config + label{ border-radius: 0 5px 5px 0; }
	
	input[type=radio]:checked + label, input[type=checkbox]:checked + label{
		background-image: linear-gradient(#ff0000, #660000 50%);
		border: 1px solid #660000;
		color: #eeeeee;
		text-shadow: 1px 1px 10px #000000;
	}
	input[type=radio]:disabled + label, input[type=checkbox]:disabled + label{
		background-image: linear-gradient(#eeeeee, #dddddd 50%);
		border: 1px solid #dddddd;
		color: #999999;
		text-shadow: none;
	}
	
	input[type=checkbox] + label::after{ content: "\00a0\2610"; }
	input[type=checkbox]:checked + label::after{ content: "\00a0\2611"; }
	
	div.button, span.button{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		font-size: 18px;
		font-weight: bold;
		color: #eeeeee;
		text-shadow: 1px 1px 2px #000000;
		background-image: linear-gradient(#ff0000, #660000 50%);
		border: 1px solid #660000;
		border-radius: 6px;
	}
	div.button.disabled, span.button.disabled{
		background-image: linear-gradient(#eeeeee, #dddddd 50%) !important;
		border: 1px solid #dddddd !important;
		color: #999999 !important;
		text-shadow: none !important;
	}
	
	div#main{
		position: absolute;
		display: flex;
		width: 300%;
		height: 95%;
		margin-top: 0;
		margin-left: -200%;
	}
	
	/* STYLES FOR LEVELS SCREEN */
	div#levels{
		width: 33.33%;
		height: 100%;
	}
	
	div#levels .hand{
		display: flex;
		place-items: center;
		gap: 0.5%;
		padding: 0.5%;
		width: 98%;
		height: 5.5%;
		border-radius: 5px;
		margin: 0 auto;
	}
	div#levels .hand.even{ background-color: #eeeeee; }
	div#levels .hand.odd{}
	div#levels .hand.active{ background-image: linear-gradient(#aaffaa, #44ff44 50%); }
	div#levels .hand span{
		display: flex;
		place-items: center;
		justify-content: center;
		height: 100%;
	}
	div#levels .hand .label{
		width: 38%;
		font-size: 18px;
		font-weight: bold;
		text-shadow: 0 0 3px #eeeeee;
		z-index: 1;
	}
	div#levels .hand .sample{
		width: 38%;
		margin-left: -38%;
		font-size: 28px;
		font-weight: bold;
		opacity: 0.2;
	}
	div#levels .hand .sample span{ text-shadow: 0 0 3px #eeeeee; }
	div#levels .hand .sample span.red{ color: #ff0000; }
	div#levels .hand .sample span.black{ color: #000000; }
	div#levels .hand .plays{ width: 6%; font-size: 12px; }
	div#levels .hand .level{
		width: 26%;
		font-size: 18px;
		font-weight: bold;
	}
	div#levels .hand .button{
		width: 12.75%;
		display: none;
	}
	div#levels .hand .button.up{}
	div#levels .hand .button.down{}
	div#levels .hand .button.up.disabled, div#levels .hand .button.down.disabled{}
	
	div#levels .hand.active .level{ display: none; }
	div#levels .hand.active .button{ display: flex; }
	
	div#levels .hand .points, div#levels .hand .multi{
		width: 15%;
		color: #eeeeee;
		text-shadow: 1px 1px 2px #000000;
		font-size: 12px;
		font-weight: bold;
		border-radius: 3px;
	}
	div#levels .hand .points{ background-color: #2222ff; }
	div#levels .hand .multi{ background-color: #ff5500; }
	
	div#levels #levels_header{ height: 3%; }
	div#levels #levels_header span{
		background-color: #cccccc;
		font-size: 8px;
		font-weight: normal;
		color: #000000;
		text-shadow: none;
		border-radius: 0; }
	div#levels #levels_header .label{ width: 38%; }
	div#levels #levels_header .plays{}
	div#levels #levels_header .level{}
	div#levels #levels_header .points, div#levels #levels_header .multi{}
	
	div#levels .stats{
		display: table;
		margin-top: 3px;
		width: 98%;
		height: 2%;
	}
	div#levels .stats span{
		display: table-cell;
		vertical-align: middle;
	}
	div#levels .stats .label{	width: 38%; text-align: right; }
	div#levels .stats .counter{ width: 12%; text-align: center; }
	
	div#levels .levels_footer{
		position: absolute;
		display: flex;
		place-items: center;
		justify-content: center;
		padding: 0.2% 0;
		width: 32.66%;
		margin: 0 0.33%;
		height: 5.5%;
		border-radius: 5px;
		background-image: linear-gradient(#eeeeee, #dddddd 50%);
	}
	div#levels .levels_footer.active{
		color: #eeeeee;
		text-shadow: 1px 1px 2px #000000;
	}
	
	div#levels .levels_footer span{
		display: flex;
		place-items: center;
		justify-content: center;
		height: 100%;
		font-size: 18px;
		font-weight: bold;
	}
	div#levels .levels_footer .label{ width: 40%; }
	div#levels .levels_footer .counter{ width: 10%; }
	div#levels .levels_footer .button{
		width: 24%;
		margin: 0 0.5%;
		opacity: 0;
	}
	div#levels .levels_footer .button.down{}
	div#levels .levels_footer .button.up{}
	div#levels .levels_footer .button.disabled{}
	
	div#levels #tokens{ bottom: 0; }
	div#levels #max_discards{ bottom: 6%; }
	div#levels #max_hands{ bottom: 12%; }
	
	div#levels #tokens .label{ }
	div#levels #tokens .button{ width: 11.5%; }
	div#levels #tokens .counter{ }
	div#levels #tokens .counter.negative{ color: #ff0000; }
	
	div#levels #max_hands.active{
		background-image: linear-gradient(#009999, #006666 50%);
		color: #eeeeee;
	}
	div#levels #max_discards.active{
		background-image: linear-gradient(#999900, #666600 50%);
		color: #eeeeee;
	}
	div#levels #tokens.active{
		background-image: linear-gradient(#666666, #222222 50%);
		color: #eeeeee;
	}
	div#levels .levels_footer.active .button{
		background-image: linear-gradient(#ff0000, #660000 50%);
		opacity: 1;
	}
	
	/* STYLES FOR GAME SCREEN */
	div#game{
		width: 33.34%;
		height: 100%;
	}
	
	div#game div#game_header{
		display: table;
		width: 98%;
		height: 4%;
		margin: 0 auto;
		font-size: 12px;
		font-weight: bold;
		background-color: #0000ff;
		color: white;
		text-shadow: 0 0 1px #000000;
	}
	div#game div#game_header.suddeath{ background-color: #ff0000; }
	
	div#game div#game_header span{
		display: table-cell;
		width: 33.33%;
		vertical-align: middle;
	}
	div#game div#game_header span#goal{ width: 33.34%; }
	
	div#game div#played{}
	
	div#game div#played div.discard{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1% auto 0;
		width: 98%;
		height: 0;
		border: 1px solid #666600;
		background-color: #999900;
		font-size: 10px;
		font-weight: bold;
		color: #eeeeee;
		text-shadow: 0 0 2px #000000;
		border-radius: 3px;
	}
	div#game div#played div.discard::before{ content: "\2718  Descarte"; }
	
	div#game form{
		position: relative;
		display: grid;
		grid-template-columns: 20% 20% 20% 30%;
		grid-template-rows: 48% 48%;
		grid-gap: 5% 1%;
		width: 98%;
		height: 24%;
		margin: 1% auto;
		border-radius: 3px;
		background-color: #ccccff;
		box-sizing: border-box;
		padding: 1%;
	}
	
	div#game form div{
		display: grid;
		place-items: center;
		height: 100%;
		border: 1px solid blue;
		border-radius: 3px;
		background-color: #cccccc;
		font-size: 18px;
		font-weight: bold;
		color: #eeeeee;
		text-shadow: 1px 1px 2px #000000;
	}
	
	div#game form #play_hand{
		grid-column: 1;
		grid-row: 1;
		background: url("hand.png") center/50% no-repeat, linear-gradient(#aaffaa, #44ff44 50%) center/cover;
	}
	
	div#game form #play_points{
		grid-column: 2;
		grid-row: 1;
		background-color: #2222ff;
	}
	div#game form #play_multi{
		grid-column: 3;
		grid-row: 1;
		background-color: #ff5500;;
	}
	div#game form #play_total{
		grid-column: 4 / 6;
		grid-row: 1;
	}
	div#game form #play_reset{
		grid-column: 1;
		grid-row: 2;
		background-image: linear-gradient(#ff0000, #990000 50%);
		border: 1px solid #990000;
	}
	div#game form #play_discard{
		grid-column: 2 / 4;
		grid-row: 2;
		background-image: linear-gradient(#999900, #666600 50%);
		border: 1px solid #666600;
	}
	div#game form #play_confirm{
		grid-column: 4 / 6;
		grid-row: 2;
		background-image: linear-gradient(#009999, #006666 50%);
		border: 1px solid #006666;
	}
	div#game form #play_reset, div#game form #play_discard, div#game form #play_confirm{
		opacity: 0.5;
		text-shadow: none;
	}
	div#game form #play_reset.active, div#game form #play_discard.active, div#game form #play_confirm.active{
		border-width: 3px;
		opacity: 1;
		text-shadow: 1px 1px 3px #000000;
	}
	
	div#game div#next_round{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 4%;
		width: 80%;
		margin: 1% auto;
		border-radius: 20px;
		font-size: 12px;
		font-weight: bold;
		background-image: linear-gradient(#ff0000, #660000 50%);
		color: #eeeeee;
		text-shadow: 0 0 6px #000000;
	}
	
	div#game div#game_footer{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1%;
		width: 33.34%;
		height: 6%;
		margin: 0 auto;
		bottom: 0;
	}
	div#game div#game_footer div{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5% 0;
		height: 100%;
		width: 24%;
		border-radius: 5px;
	}
	div#game div#game_footer div span.counter{
		font-size: 18px;
		font-weight: bold;
		color: #eeeeee;
		text-shadow: 1px 1px 2px #000000;
	}
	
	div#game div#game_footer div#cards{
		background-image: linear-gradient(#990099, #660066 50%);
		border: 1px solid #660066;
	}
	div#game div#game_footer div#cards .counter::before{ content: "\1f0a1  "; }
	div#game div#game_footer div#dice{
		background-image: linear-gradient(#eeeeee, #cccccc 50%);
		border: 1px solid #cccccc;
		font-size: 36px;
		color: #000000;
	}
	div#game div#game_footer div#dice::before{ content: "\2684"; }
	
	div#game div#game_footer div#discards_left{
		background-image: linear-gradient(#999900, #666600 50%);
		border: 1px solid #666600;
	}
	div#game div#game_footer div#hands_left{
		background-image: linear-gradient(#009999, #006666 50%);
		border: 1px solid #006666;
	}
	
	div#game div#game_footer div#discards_left .counter::before{ content: "\2718  "; }
	div#game div#game_footer div#hands_left .counter::before{ content: "\2714  "; }
	div#game div#game_footer div span.button{
		display: none;
		width: 48%;
		margin: 0 1%;
	}
	div#game div#game_footer div.active span.counter{ display: none; }
	div#game div#game_footer div.active span.button{ display: flex; }
	
	div#game div#hands_form{
		position: absolute;
		top: 0;
		margin: 0 auto;
		height: 100%;
		width: 33.34%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 24% 24% 24% 24%;
		grid-gap: 1%;
		align-items: center;
		background-color: #eeeeee;
		border: 4px solid #cccccc;
		border-radius: 3px;
		transition: all 0.3s ease-out;
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
		z-index: 1;
	}
	div#game div#hands_form.hidden{
		opacity: 0;
		scale: 25%;
		transform: translateX(-150%) translateY(-175%);
		visibility: hidden;
	}
	div#game div#hands_form div{
		height: 100%;
		border: 3px solid #44ff44;
		border-radius: 6px;
	}
	div#game div#hands_form div.disabled{}
	div#game div#hands_form div span{}
	div#game div#hands_form div span.label{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 25%;
		font-size: 14px;
		font-weight: bold;
		text-shadow: 0 0 3px #eeeeee;
	}
	div#game div#hands_form div span.sample{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 25%;
		font-size: 24px;
		text-shadow: 0 0 3px #eeeeee;
		padding-bottom: 10px;
	}
	div#game div#hands_form div span.sample span.red{ color: #ff0000; }
	div#game div#hands_form div span.sample span.black{ color: #000000; }
/*	div#game div#hands_form div span.level{
		display: grid;
		align-items: center;
		height: 30%;
		grid-template-columns: 20% 40% 40%;
		grid-template-rows: 75% 25%;
	}
	div#game div#hands_form div span.level span{ font-size: 8px; } */
	div#game div#hands_form div span.points, div#game div#hands_form div span.multi{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 25%;
		width: 48%;
		margin: 0 1%;
		font-size: 18px;
		font-weight: bold;
		color: #eeeeee;
		text-shadow: 1px 1px 3px #000000;
		border-radius: 3px;
	}
	div#game div#hands_form div span.points{ background-color: #2222ff; }
	div#game div#hands_form div span.multi{ background-color: #ff5500; }
	
	div#game div#points_form{
		position: absolute;
		top: 0;
		margin: 0 auto;
		height: 100%;
		width: 33.34%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 22% 22% 22% 18% 12%;
		grid-gap: 1%;
		align-items: center;
		background-color: #eeeeee;
		border: 4px solid #cccccc;
		border-radius: 3px;
		transition: all 0.25s ease-out;
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}
	div#game div#points_form.hidden{
		opacity: 0;
		scale: 25%;
		transform: translateX(-50%) translateY(-175%);
		visibility: hidden;
	}
	
	div#game div#dice_form{
		position: absolute;
		top: 0;
		margin: 0 auto;
		height: 100%;
		width: 33.34%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 22% 22% 22% 18% 12%;
		grid-gap: 1%;
		align-items: center;
		background-color: #eeeeee;
		border: 4px solid #cccccc;
		border-radius: 3px;
		transition: all 0.25s ease-out;
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}
	div#game div#dice_form.hidden{
		opacity: 0;
		scale: 25%;
		transform: translateX(-30%) translateY(200%);
		visibility: hidden;
	}
	
	div#game div#dice_form div.die{
		height: 100%;
		border: 1px solid #cccccc;
		border-radius: 6px;
	}
	div#game div#dice_form div.die.button{}
	div#game div#dice_form div#die_0.die{
		grid-column: 1 / 4;
		grid-row: 1 / 4;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url("teseract.png") center/50% no-repeat;
		font-size: 58px;
		text-shadow: 0 0 10px #800080;
		border: 3px solid #800080;
	}
	div#game div#dice_form div.die.die_1{ background: url("die_1.png") center/50% no-repeat; }
	div#game div#dice_form div.die.die_1.button{ background: url("die_1.png") center/50% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_2{ background: url("die_2.png") center/50% no-repeat; }
	div#game div#dice_form div.die.die_2.button{ background: url("die_2.png") center/50% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_3{ background: url("die_3.png") center/50% no-repeat; }
	div#game div#dice_form div.die.die_3.button{ background: url("die_3.png") center/50% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_4{ background: url("die_4.png") center/50% no-repeat; }
	div#game div#dice_form div.die.die_4.button{ background: url("die_4.png") center/50% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_5{ background: url("die_5.png") center/50% no-repeat; }
	div#game div#dice_form div.die.die_5.button{ background: url("die_5.png") center/50% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_6{ background: url("die_6.png") center/50% no-repeat; }
	div#game div#dice_form div.die.die_6.button{ background: url("die_6.png") center/50% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_7{ background: url("die_1.png") center/50% no-repeat; }
	div#game div#dice_form div.die.die_7.button{ background: url("die_1.png") center/50% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_8{ background: url("die_2v2.png") center/50% no-repeat; }
	div#game div#dice_form div.die.die_8.button{ background: url("die_2v2.png") center/50% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_9{ background: url("die_3v2.png") center/50% no-repeat; }
	div#game div#dice_form div.die.die_9.button{ background: url("die_3v2.png") center/50% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_10{ background: url("die_4.png") center/50% no-repeat; }
	div#game div#dice_form div.die.die_10.button{ background: url("die_4.png") center/50% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_11{ background: url("die_5.png") center/50% no-repeat; }
	div#game div#dice_form div.die.die_11.button{ background: url("die_5.png") center/50% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_12{ background: url("die_6v2.png") center/50% no-repeat; }
	div#game div#dice_form div.die.die_12.button{ background: url("die_6v2.png") center/50% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	
	div#game div#dice_form div.die.add{
		background: url("die_add.png") center/50% no-repeat, linear-gradient(#aaffaa, #44ff44 50%) center/cover;
	}
	div#game div#dice_form div.die.active{
		background: url("die_remove.png") center/50% no-repeat, linear-gradient(#ff0000, #660000 50%) center/cover !important;
		border: 1px solid #660000;
	}
	div#game div#dice_form div.die.rolling{ background-color: #aaaaaa !important; }
	
	div#game div#dice_form span.button{ font-size: 24px; }
	
	div#game div#dice_form span#roll{
		grid-column: 1 / 4;
		grid-row: 4;
		background-image: linear-gradient(#009900, #004400 50%);
		font-weight: bold;
		color: #eeeeee;
		text-shadow: 1px 1px 3px #000000;
		border: 1px solid #004400;
	}
	div#game div#dice_form span#roll.disabled{}
	div#game div#dice_form span#dice_switch{
		grid-row: 5;
		background: url("die_teseract.png") center/40% no-repeat, radial-gradient(#e0e0e0, #808080, #e0e0e0, #808080) center/cover !important;
		border: 3px solid #800080 !important;
	}
	div#game div#dice_form span#dice_switch.regular{
		background: url("die_regular.png") center/40% no-repeat, radial-gradient(#e0e0e0, #808080, #e0e0e0, #808080) center/cover !important;
		border-color: #808080 !important;
	}
	div#game div#dice_form span#dice_switch.disabled{ opacity: 0.5; }
	div#game div#dice_form span#close{
		grid-row: 5;
		grid-column: 2 / 4;
	}
	
	/* STYLES FOR OPTIONS SCREEN */
	div#config{
		width: 33.33%;
		height: 100%;
	}
	
	div#config #logo{
		position: relative;
		display: flex;
		margin: 1% auto;
		align-items: center;
		justify-content: center;
		width: 80%;
		height: 60px;
		border-radius: 50px;
		border: 10px solid transparent;
		background: linear-gradient(45deg, red, blue) border-box;
		mask:
			linear-gradient(#ffff00 0 0) padding-box,
			linear-gradient(#ff0000 0 0);
		color: #eeeeee;
		font-size: 18px;
		font-weight: bold;
		text-shadow: 1px 1px 2px #000000;
	}
	
	div#config div.options{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90%;
		height: 6%;
		margin: 2% auto;
	}
	div#config div.options span{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 15%;
	}
	div#config div.options span.label{
		width: 55%;
		justify-content: right;
		padding-right: 8px;
		font-size: 12px;
	}
	div#config div.options span.button{}
	div#config div.options span.button.disabled{}
	div#config div.options span#suddeath{
		font-size: 18px;
		font-weight: bold;
	}
	
	div#config div.options label{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		font-size: 18px;
	}
	
	div#config div#new_game{
		position: relative;
		display: table;
		height: 10%;
		width: 80%;
		margin: 20% auto;
		border-radius: 60px;
		background-image: linear-gradient(#ff0000, #660000 50%);
		font-size: 18px;
		font-weight: bold;
		padding: auto;
		color: #eeeeee;
		text-shadow: 0 0 10px #000000;
	}
	div#config div#new_game span{
		display: table-cell;
		width: 40%;
		text-align: center;
		vertical-align: middle;
	}
	div#config div#new_game span.red, div#config div#new_game span.black{
		width: 15%;
		font-size: 30px;
		text-shadow: 0 0 5px #eeeeee;
		padding-bottom: 6px;
	}
	div#config div#new_game span.red { color: #ff0000; }
	div#config div#new_game span.black { color: #000000; }
	
	@media screen (max-height: 640px){}