	@font-face{
		font-family: 'Bahnschrift';
		src: url('bahnschrift_regular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face{
		font-family: 'Bahnschrift';
		src: url('bahnschrift_bold.ttf') format('truetype');
		font-weight: bold;
		font-style: normal;
	}
	html, body{
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		font-family: Bahnschrift, Tahoma, Verdana, sans-serif; /*Din, Tahoma, sans-serif; */
		font-size: 10px;
		text-align: center;
		user-select: none;
	}
	div, span{ box-sizing: border-box; }

	div#menu{
		position: relative;
		display: flex;
		height: 5%;
		width: 98%;
		margin: 1%;
	}
	
	input[type=radio], input[type=checkbox]{
		visibility: hidden;
		display: none;
	}
	label{
		display: flex;
		width: 33.33%;
		height: 100%;
		align-items: center;
		justify-content: center;
		color: #000000;
		background-image: linear-gradient(#eeeeee, #cccccc 50%);
		font-size: 12px;
		font-weight: bold;
		border: 1px solid transparent;
	}
	input[type=checkbox] + label{
		width: 100%;
		font-size: 16px;
		justify-content: left;
		padding-left: 5%;
		border-radius: 6px;
		background: url("checkbox.png") 95% center / 6% no-repeat, linear-gradient(#eeeeee, #cccccc 50%);		
	}
	
	input[type=radio]#header_levels + label{ border-radius: 5px 0 0 5px; }
	input[type=radio]#header_game + label{ width: 33.34%; }
	input[type=radio]#header_config + label{ border-radius: 0 5px 5px 0; }
	
	
	input[type=radio]:checked + label, input[type=checkbox]:checked + label{
		background-image: linear-gradient(#ff0000, #660000 50%);
		border: 1px solid #660000;
		color: #eeeeee;
	}
	input[type=checkbox]:checked + label{
		align-items: right;
		background: url("checkbox_checked.png") 95% center / 6% no-repeat, linear-gradient(#ff0000, #660000 50%);
	}
	
	input[type=radio]:disabled + label, input[type=checkbox]:disabled + label{ opacity: 0.5; }

	div.button, span.button{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		font-size: 18px;
		font-weight: bold;
		color: #eeeeee;
		background-image: linear-gradient(#ff0000, #660000 50%);
		border: 1px solid #660000;
		border-radius: 6px;
	}
	div.button.disabled, span.button.disabled{ filter: saturate(0.3); opacity: 0.5; }
	
	div#main{
		position: absolute;
		display: flex;
		width: 300%;
		height: 93%;
		margin-top: 0;
		margin-left: -200%;
	}
	
	/* STYLES FOR LEVELS SCREEN */
	div#levels{
		width: 33.33%;
		height: 100%;
	}
	
	div#levels .hand{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5%;
		padding: 0.5%;
		width: 98%;
		height: 5.5%;
		border-radius: 5px;
		margin: 0 auto;
		box-shadow: 0 0 0 transparent;
		transition: box-shadow 0.2s;
	}
	div#levels .hand.even{ background-color: #eeeeee; }
	div#levels .hand.odd{}
	div#levels .hand.active{
		background-image: linear-gradient(#aaffaa, #44ff44 50%);
		z-index: 2;
		box-shadow: 2px 2px 3px #666666;
		transition: box-shadow 0.2s 0.2s;
	}
	div#levels .hand span{
		display: flex;
		place-items: center;
		justify-content: center;
		height: 100%;
	}
	div#levels .hand .label{
		width: 38%;
		font-size: 18px;
		font-weight: bold;
		text-shadow: -1px 0 1px #eeeeee,
					-1px 1px 1px #eeeeee,
					0 1px 1px #eeeeee,
					1px 1px 1px #eeeeee,
					1px 0 1px #eeeeee,
					1px -1px 1px #eeeeee,
					0 -1px 1px #eeeeee,
					-1px -1px 1px #eeeeee;
		z-index: 1;
	}
	div#levels .hand .sample{
		width: 38%;
		margin-left: -38%;
		font-size: 28px;
		font-weight: bold;
		opacity: 0.2;
	}
	div#levels .hand .sample span{}
	div#levels .hand .sample span.red{ color: #ff0000; }
	div#levels .hand .sample span.black{ color: #000000; }
	div#levels .hand .plays{ width: 6%; font-size: 12px; }
	div#levels .hand .level{
		width: 26%;
		font-size: 18px;
		font-weight: bold;
	}
	div#levels .hand .button{
		width: 12.75%;
		display: none;
	}
	div#levels .hand .button.up{}
	div#levels .hand .button.down{}
	div#levels .hand .button.up.disabled, div#levels .hand .button.down.disabled{}
	
	div#levels .hand.active .level{ display: none; }
	div#levels .hand.active .button{ display: flex; }
	
	div#levels .hand .points, div#levels .hand .multi{
		width: 15%;
		font-size: 12px;
		font-weight: bold;
		color: #eeeeee;
		text-shadow: 1px 1px 2px #000000;
		border-radius: 3px;
	}
	div#levels .hand .points{ background-color: #2222ff; }
	div#levels .hand .multi{ background-color: #ff5500; }
	
	div#levels #levels_header{ height: 4%; padding-top: 0; padding-bottom: 0; margin-bottom: 1%; }
	div#levels #levels_header span{
		background-color: #cccccc;
		font-size: 8px;
		font-weight: normal;
		color: #000000;
		text-shadow: none;
		border-radius: 0; }
	div#levels #levels_header .label{ width: 38%; }
	div#levels #levels_header .plays{}
	div#levels #levels_header .level{}
	div#levels #levels_header .points, div#levels #levels_header .multi{}
	
	div#levels .stats{
		display: table;
		margin-top: 3px;
		width: 98%;
		height: 2%;
	}
	div#levels .stats span{
		display: table-cell;
		vertical-align: middle;
	}
	div#levels .stats .label{	width: 38%; text-align: right; }
	div#levels .stats .counter{ width: 12%; text-align: center; }
	
	div#levels .levels_footer{
		position: absolute;
		display: flex;
		place-items: center;
		justify-content: center;
		padding: 0.2% 0;
		width: 32.66%;
		margin: 0 0.33%;
		height: 5.5%;
		border-radius: 5px;
		background-image: linear-gradient(#eeeeee, #cccccc 50%);
		box-shadow: 0 0 0 transparent;
		transition: box-shadow 0.2s;
	}
	div#levels .levels_footer.active{
		color: #eeeeee;
		box-shadow: 2px 2px 3px #666666;
		transition: box-shadow 0.2s 0.2s;
	}
	
	div#levels .levels_footer span{
		display: flex;
		place-items: center;
		justify-content: center;
		height: 100%;
		font-size: 18px;
		font-weight: bold;
	}
	div#levels .levels_footer .label{ width: 40%; }
	div#levels .levels_footer .counter{ width: 10%; }
	div#levels .levels_footer .button{
		width: 24%;
		margin: 0 0.5%;
		opacity: 0;
	}
	div#levels .levels_footer .button.down{}
	div#levels .levels_footer .button.up{}
	div#levels .levels_footer .button.disabled{}
	
	div#levels #tokens{ bottom: 0; }
	div#levels #max_discards{ bottom: 6%; }
	div#levels #max_hands{ bottom: 12%; }
	
	div#levels #tokens .label{ }
	div#levels #tokens .button{ width: 11.5%; }
	div#levels #tokens .counter{ }
	div#levels #tokens .counter.negative{ color: #ff0000; }
	
	div#levels #max_hands.active{
		background-image: linear-gradient(#009999, #006666 50%);
		color: #eeeeee;
	}
	div#levels #max_discards.active{
		background-image: linear-gradient(#999900, #666600 50%);
		color: #eeeeee;
	}
	div#levels #tokens.active{
		background-image: linear-gradient(#666666, #666666 50%);
		color: #eeeeee;
	}
	div#levels .levels_footer.active .button{ opacity: 1; }
	div#levels .levels_footer.active .button.disabled{ opacity: 0.5; }
	
	/* STYLES FOR GAME SCREEN */
	div#game{
		width: 33.34%;
		height: 100%;
	}
	
	div#game div#game_header{
		display: flex;
		width: 98%;
		height: 4%;
		gap: 0 1%;
		padding: 0 1%;
		margin: 0 auto;
		font-size: 12px;
		font-weight: bold;
		background-color: #000099;
		color: white;
	}
	div#game div#game_header.small_blind{ background-color: #004400; }
	div#game div#game_header.big_blind{ background-color: #666600; }
	div#game div#game_header.boss_blind{ background-image: linear-gradient(#ff0000, #660000 50%); }
	div#game div#game_header.suddeath{ box-shadow: 0 0 5px #ff0000; }
	
	div#game div#game_header span{
		display: flex;
		height: 100%;
		width: 35%;
		align-items: center;
		justify-content: center;
		filter: drop-shadow(0 0 1px #000000);
	}
	div#game div#game_header #round{ width: 28%; }
	div#game div#game_header #blind{}
	div#game div#game_header.small_blind #blind{ background: url("blind_small.png") left center / 10% no-repeat, url("blind_small.png") right center / 10% no-repeat; }
	div#game div#game_header.big_blind #blind{ background: url("blind_big.png") left center / 10% no-repeat, url("blind_big.png") right center / 10% no-repeat; }
	div#game div#game_header.boss_blind #blind{ background: url("blind_boss.png") left center / 10% no-repeat, url("blind_boss.png") right center / 10% no-repeat; }
	div#game div#game_header #goal{ background: url("token.png") 5% center / 8% no-repeat, url("token.png") 95% center / 8% no-repeat; }
	
	div#game div#played{}
	
	div#game div#played div.discard{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 1% auto 0;
		width: 98%;
		height: 0;
		border: 1px solid #666600;
		background-color: #999900;
		font-size: 12px;
		font-weight: bold;
		color: #eeeeee;
		text-shadow: 0 0 1px #000000;
		border-radius: 3px;
		box-shadow: 2px 2px 3px #666666;
	}
	div#game div#played div.discard img{
		max-height: 90%;
		margin-right: 1%;
	}
	
	div#game form{
		position: relative;
		display: grid;
		grid-template-columns: 28% 35% 35%;
		grid-template-rows: 48% 48%;
		grid-gap: 4% 1%;
		width: 98%;
		height: 24%;
		margin: 1% auto;
		border-radius: 3px;
		background-color: #ccccff;
		box-sizing: border-box;
		padding: 1%;
	}
	
	div#game form div{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		border-radius: 3px;
		font-size: 18px;
		font-weight: bold;
		color: #eeeeee;
		border-style: solid;
		border-width: 1px;
		opacity: 0.5;
		box-shadow: 0 0 0 transparent;
		transition: box-shadow 0.2s;
	}
	div#game form div.enabled{
		opacity: 1;
		box-shadow: 2px 2px 3px #666666;
		transition: box-shadow 0.2s 0.2s;
	}
	
	div#game form #play_hand{
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 65% 35%;
		background-image: linear-gradient(#aaffaa, #44ff44 50%);
		border-color: #44ff44; }
	div#game form #play_hand.empty{ background: url("hand.png") center center / 60% no-repeat, linear-gradient(#aaffaa, #44ff44 50%); }
	div#game form #play_hand span{
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		color: #000000;
	}
	div#game form #play_hand #label{
		grid-row: 1;
		grid-column: 1 / 3;
		font-size: 14px;
		font-weight: bold;
		text-shadow: -1px 0 1px #eeeeee,
					-1px 1px 1px #eeeeee,
					0 1px 1px #eeeeee,
					1px 1px 1px #eeeeee,
					1px 0 1px #eeeeee,
					1px -1px 1px #eeeeee,
					0 -1px 1px #eeeeee,
					-1px -1px 1px #eeeeee;
	}
	div#game form #play_hand #level{ font-size: 14px; font-weight: bold; }
	div#game form #play_hand #plays{ font-size: 12px; font-weight: normal; }
	div#game form #play_points, div#game form #play_multi{ text-shadow: 1px 1px 2px #000000; }
	div#game form #play_points{ background-image: linear-gradient(#8888ff, #2222ff 50%); border-color: #2222ff; }
	div#game form #play_multi{ background-image: linear-gradient(#ffaa00, #ff5500 50%); border-color: #ff5500; }
	div#game form #play_reset{
		background: url("undo.png") center center / 20% no-repeat, linear-gradient(#ff0000, #990000 50%);
		border: 1px solid #990000;
	}
	div#game form #play_discard{
		background: url("reject.png") center center / 20% no-repeat, linear-gradient(#999900, #666600 50%);
		border: 1px solid #666600;
	}
	div#game form #play_confirm{
		background: url("confirm.png") 90% center / 20% no-repeat, linear-gradient(#009999, #006666 50%);
		border: 1px solid #006666;
		text-shadow: 1px 1px 2px #000000;
	}
	div#game form #play_reset, div#game form #play_discard, div#game form #play_confirm{
		opacity: 0.5;
		box-shadow: 0 0 0 transparent;
		transition: box-shadow 0.2s;
	}
	div#game form #play_reset.active, div#game form #play_discard.active, div#game form #play_confirm.active{
		opacity: 1;
		box-shadow: 2px 2px 3px #666666;
		transition: box-shadow 0.2s 0.2s;
	}
	
	div#game div#next_round{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 4%;
		width: 80%;
		margin: 1% auto;
		border-radius: 20px;
		font-size: 12px;
		font-weight: bold;
		background-image: linear-gradient(#ff0000, #660000 50%);
		color: #eeeeee;
	}
	
	div#game div#game_footer{
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1%;
		width: 33.34%;
		height: 6%;
		margin: 0 auto;
		bottom: 0;
	}
	div#game div#game_footer div{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0.5% 0;
		height: 100%;
		width: 24%;
		border-radius: 5px;
		box-shadow: 0 0 0 transparent;
		transition: box-shadow 0.2s;
	}
	div#game div#game_footer div.active{
		box-shadow: 2px 2px 3px #666666;
		transition: box-shadow 0.2s 0.2s;
	}
	div#game div#game_footer div span.counter{
		font-size: 18px;
		font-weight: bold;
		color: #eeeeee;
		padding-left: 30%;
	}
	
	div#game div#game_footer div#cards{
		background: url("deck.png") 20% center / 25% no-repeat, linear-gradient(#990099, #660066 50%);
		border: 1px solid #660066;
	}
	div#game div#game_footer div#dice{
		background: url("die_button.png") center center / 25% no-repeat, linear-gradient(#eeeeee, #cccccc 50%);
		border: 1px solid #cccccc;
	}
	div#game div#game_footer div#discards_left{
		background: url("reject.png") 20% center / 25% no-repeat, linear-gradient(#999900, #666600 50%);
		border: 1px solid #666600;
	}
	div#game div#game_footer div#hands_left{
		background: url("confirm.png") 20% center / 25% no-repeat, linear-gradient(#009999, #006666 50%);
		border: 1px solid #006666;
	}
	div#game div#game_footer div#cards.active{ background: linear-gradient(#990099, #660066 50%); }
	div#game div#game_footer div#hands_left.active{ background: linear-gradient(#009999, #006666 50%); }
	div#game div#game_footer div#discards_left.active{ background: linear-gradient(#999900, #666600 50%); }
	
	div#game div#game_footer div span.button{
		display: none;
		width: 48%;
		margin: 0 1%;
	}
	div#game div#game_footer div.active span.counter{ display: none; }
	div#game div#game_footer div.active span.button{ display: flex; }
	
	/* STYLE FOR EMERGENT FORMS */
	div#game div#hands_form{
		position: absolute;
		top: 0;
		margin: 0 auto;
		height: 100%;
		width: 33.34%;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto auto;
		grid-gap: 1%;
		align-items: center;
		background-color: #eeeeee;
		border: 4px solid #cccccc;
		border-radius: 3px;
		transition: all 0.3s ease-out;
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
		z-index: 1;
	}
	div#game div#hands_form.hidden{
		opacity: 0;
		scale: 25%;
		transform: translateX(-150%) translateY(-175%);
		visibility: hidden;
	}
	div#game div#hands_form div{
		display: grid;
		width: 100%;
		height: 100%;
		grid-template-columns: 49% 49%;
		grid-template-rows: 24% 30% 22% 20%;
		grid-gap: 1%;
		align-items: center;
		justify-content: center;
		border: 3px solid #44ff44;
		border-radius: 6px;
	}
	div#game div#hands_form div span{
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
	}
	div#game div#hands_form div span.label{
		grid-row: 1;
		grid-column: 1 / 3;
		font-size: 14px;
		font-weight: bold;
	}
	div#game div#hands_form div span.sample{
		grid-row: 2;
		grid-column: 1 / 3;
		font-size: 38px;
		padding-bottom: 12px;
	}
	div#game div#hands_form div span.sample span{ width: auto; }
	div#game div#hands_form div span.sample span.red{ color: #ff0000; }
	div#game div#hands_form div span.sample span.black{ color: #000000; }
	div#game div#hands_form div span.points, div#game div#hands_form div span.multi{
		grid-row: 3;
		width: 100%;
		font-size: 18px;
		font-weight: bold;
		color: #eeeeee;
		text-shadow: 1px 1px 2px #000000;
		border-radius: 3px;
	}
	div#game div#hands_form div span.points{ background-color: #2222ff; }
	div#game div#hands_form div span.multi{ background-color: #ff5500; }
	div#game div#hands_form div span.level{
		grid-row: 4;
		font-size: 12px;
		font-weight: bold;
	}
	div#game div#hands_form div span.level::before{ content: "Niv.:\00a0"; }
	div#game div#hands_form div span.plays{
		grid-row: 4;
		font-size: 12px;
	}
	div#game div#hands_form div span.plays::before{ content: "Jug.:\00a0"; }
	
	div#game div#points_form{
		position: absolute;
		top: 0;
		margin: 0 auto;
		height: 100%;
		width: 33.34%;
		display: grid;
		grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
		grid-template-rows: 20% 20% 20% 20% 16%;
		grid-gap: 1%;
		align-items: center;
		background-color: #eeeeee;
		border: 4px solid #cccccc;
		border-radius: 3px;
		transition: all 0.25s ease-out;
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}
	div#game div#points_form.hidden{
		opacity: 0;
		scale: 25%;
		transform: translateX(-25%) translateY(-175%);
		visibility: hidden;
	}
	div#game div#points_form div{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	div#game div#points_form div#points_string{
		grid-row: 1;
		grid-column: 1 / 6;
		border: 3px solid #eeeeee;
		border-radius: 10px;
		font-size: 28px;
		font-weight: bold;
		color: #eeeeee;
		background-color: #2222ff;
		overflow: hidden;
	}
	div#game div#points_form div.button.add{
		font-size: 24px;
		font-weight: bold;
		color: #2222ff;
		border: 3px solid #2222ff;
		border-radius: 3px;
		box-shadow: 2px 2px 3px #000000;
		background-image: linear-gradient(#eeeeee, #cccccc 50%);
	}
	div#game div#points_form span#points_reset.button{
		grid-row: 5;
		grid-column: 1 / 3;
		background: url("undo.png") center center / 25% no-repeat, linear-gradient(#eeeeee, #cccccc 50%);
		border: 1px solid #cccccc;
		box-shadow: 0 0 0 #000000;
		transition: box-shadow 0.2s;
	}
	div#game div#points_form span#points_reset.button.active{
		background: url("undo.png") center center / 25% no-repeat, linear-gradient(#ff0000, #660000 50%);
		border: 1px solid #660000;
		box-shadow: 2px 2px 3px #000000;
		transition: box-shadow 0.2s 0.2s;
	}
	div#game div#points_form span#points_confirm.button{
		grid-row: 5;
		grid-column: 3 / 6;
		background-image: linear-gradient(#8888ff, #2222ff 50%);
		border: 1px solid #2222ff;
		font-size: 28px;
	}
	
	div#game div#multi_form{
		position: absolute;
		top: 0;
		margin: 0 auto;
		height: 100%;
		width: 33.34%;
		display: grid;
		grid-template-columns: auto auto auto auto auto;
		grid-template-rows: 20% 20% 20% 20% 16%;
		grid-gap: 1%;
		align-items: center;
		background-color: #eeeeee;
		border: 4px solid #cccccc;
		border-radius: 3px;
		transition: all 0.25s ease-out;
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}
	div#game div#multi_form.hidden{
		opacity: 0;
		scale: 25%;
		transform: translateX(75%) translateY(-175%);
		visibility: hidden;
	}
	div#game div#multi_form div{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	div#game div#multi_form div#multi_string{
		grid-row: 1;
		grid-column: 1 / 6;
		border: 3px solid #eeeeee;
		border-radius: 10px;
		font-size: 20px;
		font-weight: bold;
		color: #eeeeee;
		background-color: #ff5500;
		overflow: hidden;
	}
	div#game div#points_form div.button{
		font-size: 24px;
		font-weight: bold;
		border: 3px solid #ff5500;
		border-radius: 3px;
		box-shadow: 2px 2px 3px #000000;
	}
	div#game div#multi_form div.button.add{
		background-image: linear-gradient(#eeeeee, #cccccc 50%);
	}
	div#game div#multi_form div.button.plus{
		background-image: linear-gradient(#ffaa00, #ff5500 50%);
	}
	div#game div#multi_form span#multi_reset.button{
		grid-row: 5;
		grid-column: 1 / 3;
		background: url("undo.png") center center / 25% no-repeat, linear-gradient(#eeeeee, #cccccc 50%);
	}
	div#game div#multi_form span#multi_reset.button.active{
		background: url("undo.png") center center / 25% no-repeat, linear-gradient(#ff0000, #660000 50%);
	}
	div#game div#multi_form span#multi_confirm.button{
		grid-row: 5;
		grid-column: 3 / 6;
		background-image: linear-gradient(#ff8800, #ff5500 50%);
	}
	
	div#game div#dice_form{
		position: absolute;
		top: 0;
		margin: 0 auto;
		height: 100%;
		width: 33.34%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 22% 22% 22% 18% 12%;
		grid-gap: 1%;
		align-items: center;
		background-color: #eeeeee;
		border: 4px solid #cccccc;
		border-radius: 3px;
		transition: all 0.25s ease-out;
		opacity: 1;
		transform: translateY(0);
		visibility: visible;
	}
	div#game div#dice_form.hidden{
		opacity: 0;
		scale: 25%;
		transform: translateX(-30%) translateY(200%);
		visibility: hidden;
	}
	
	div#game div#dice_form div.die{
		height: 100%;
		border: 1px solid #cccccc;
		border-radius: 6px;
	}
	div#game div#dice_form div.die.button{}
	div#game div#dice_form div#die_0.die{
		grid-column: 1 / 4;
		grid-row: 1 / 4;
		display: flex;
		align-items: center;
		justify-content: center;
		background: url("teseract.png") center / 60% no-repeat;
		font-size: 58px;
		text-shadow: 0 0 10px #800080;
		border: 3px solid #800080;
	}
	div#game div#dice_form div.die.die_1{ background: url("die_1.png") center / 60% no-repeat; }
	div#game div#dice_form div.die.die_1.button{ background: url("die_1.png") center / 60% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_2{ background: url("die_2.png") center / 60% no-repeat; }
	div#game div#dice_form div.die.die_2.button{ background: url("die_2.png") center / 60% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_3{ background: url("die_3.png") center / 60% no-repeat; }
	div#game div#dice_form div.die.die_3.button{ background: url("die_3.png") center / 60% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_4{ background: url("die_4.png") center / 60% no-repeat; }
	div#game div#dice_form div.die.die_4.button{ background: url("die_4.png") center / 60% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_5{ background: url("die_5.png") center / 60% no-repeat; }
	div#game div#dice_form div.die.die_5.button{ background: url("die_5.png") center / 60% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_6{ background: url("die_6.png") center / 60% no-repeat; }
	div#game div#dice_form div.die.die_6.button{ background: url("die_6.png") center / 60% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_7{ background: url("die_1.png") center / 60% no-repeat; }
	div#game div#dice_form div.die.die_7.button{ background: url("die_1.png") center / 60% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_8{ background: url("die_2v2.png") center / 60% no-repeat; }
	div#game div#dice_form div.die.die_8.button{ background: url("die_2v2.png") center / 60% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_9{ background: url("die_3v2.png") center / 60% no-repeat; }
	div#game div#dice_form div.die.die_9.button{ background: url("die_3v2.png") center / 60% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_10{ background: url("die_4.png") center / 60% no-repeat; }
	div#game div#dice_form div.die.die_10.button{ background: url("die_4.png") center / 60% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_11{ background: url("die_5.png") center / 60% no-repeat; }
	div#game div#dice_form div.die.die_11.button{ background: url("die_5.png") center / 60% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	div#game div#dice_form div.die.die_12{ background: url("die_6v2.png") center / 60% no-repeat; }
	div#game div#dice_form div.die.die_12.button{ background: url("die_6v2.png") center / 60% no-repeat, linear-gradient(#eeeeee, #cccccc 50%) center/cover; }
	
	div#game div#dice_form div.die.add{
		background: url("die_add.png") center / 60% no-repeat, linear-gradient(#aaffaa, #44ff44 50%) center/cover;
	}
	div#game div#dice_form div.die.active{
		background: url("die_remove.png") center / 60% no-repeat, linear-gradient(#ff0000, #660000 50%) center/cover !important;
		border: 1px solid #660000;
	}
	div#game div#dice_form div.die.rolling{ background-color: #aaaaaa !important; }
	
	div#game div#dice_form span.button{ font-size: 28px; }
	
	div#game div#dice_form span#roll{
		grid-column: 1 / 4;
		grid-row: 4;
		background-image: linear-gradient(#009900, #004400 50%);
		font-weight: bold;
		color: #eeeeee;
		border: 1px solid #004400;
	}
	div#game div#dice_form span#roll.disabled{}
	div#game div#dice_form span#dice_switch{
		grid-row: 5;
		grid-column: 1;
		background: url("die_teseract.png") center / 40% no-repeat, radial-gradient(#e0e0e0, #808080, #e0e0e0, #808080);
		border: 3px solid #800080;
	}
	div#game div#dice_form span#dice_switch.regular{
		background: url("die_regular.png") center / 40% no-repeat, radial-gradient(#e0e0e0, #808080, #e0e0e0, #808080);
		border-color: #808080;
	}
	div#game div#dice_form span#dice_switch.disabled{}
	div#game div#dice_form span#close{
		grid-row: 5;
		grid-column: 2 / 4;
	}
	
	/* STYLES FOR OPTIONS SCREEN */
	div#config{
		width: 33.33%;
		height: 100%;
	}
	
	div#config #logo{
		position: relative;
		display: flex;
		margin: 1% auto;
		align-items: center;
		justify-content: center;
		width: 80%;
		height: 60px;
		border-radius: 50px;
		border: 10px solid transparent;
		background: linear-gradient(45deg, red, blue) border-box;
		mask:
			linear-gradient(#ffff00 0 0) padding-box,
			linear-gradient(#ff0000 0 0);
		color: #eeeeee;
		text-shadow: 1px 1px 2px #000000;
		font-size: 18px;
		font-weight: bold;
	}
	
	div#config div.options{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90%;
		height: 6%;
		margin: 2% auto;
	}
	div#config div.options span{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 15%;
	}
	div#config div.options span.label{
		width: 55%;
		justify-content: right;
		padding-right: 8px;
		font-size: 14px;
	}
	div#config div.options span.button{}
	div#config div.options span.button.disabled{}
	div#config div.options span#suddeath{
		font-size: 18px;
		font-weight: bold;
	}
	
	div#config div.options label{}
	
	div#config div#new_game{
		position: relative;
		display: table;
		height: 10%;
		width: 80%;
		margin: 20% auto;
		border-radius: 60px;
		background-image: linear-gradient(#ff0000, #660000 50%);
		font-size: 18px;
		font-weight: bold;
		padding: auto;
		color: #eeeeee;
		text-shadow: -1px 0 1px #000000,
					-1px 1px 1px #000000,
					0 1px 1px #000000,
					1px 1px 1px #000000,
					1px 0 1px #000000,
					1px -1px 1px #000000,
					0 -1px 1px #000000,
					-1px -1px 1px #000000;
	}
	div#config div#new_game span{
		display: table-cell;
		width: 40%;
		text-align: center;
		vertical-align: middle;
	}
	div#config div#new_game span.red, div#config div#new_game span.black{
		width: 15%;
		font-size: 30px;
		padding-bottom: 6px;
		text-shadow: 0 0 5px #eeeeee;
	}
	div#config div#new_game span.red { color: #ff0000; }
	div#config div#new_game span.black { color: #000000; }
	
	@media screen (max-height: 640px){}